:root {
--willow-green: #8ed081ff;
--celadon: #b4d2baff;
--vanilla-custard: #dce2aaff;
--copper: #b57f50ff;
--ebony: #4b543bff;

--pale-slate: #c8bfc7ff;
--sage-green: #7a9b76ff;
--grey-olive: #8a7e72ff;
--night-bordeaux: #5a2328ff;
--pitch-black: #090302ff;

--sky-surge: #5bc0ebff;
--banana-cream: #fde74cff;
--yellow-green: #9bc53dff;
--tomato-jam: #c3423fff;
--iron-grey: #404e4dff;



}
